$button-normal-conoce-mas: #00F3BB;
$button-hover-conoce-mas: linear-gradient(225deg, #0000FE 0%, #00F0B8 100%);
$text-normal-color:#060A24;
$text-link-hover: #00F3BB;
$text-link-active: rgba(6,10,36,0.56);
$menu-lines-color:#000000;
$menu-x-color:#060A24;
$nav-mobile-extended-bg: #0000EC;
$nav-mobile-extended-color:#FFFFFF;
$nav-desktop-on-top:#060A24;
